<header>
  <nav class="navbar navbar-expand-lg">
    <div class="container d-flex align-items-center justify-content-between">
      <!-- Logo -->
      <a class="navbar-brand d-flex align-items-center gap-2" href="/">
        TICKETY
      </a>

      <!-- Toggle for mobile -->
      <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Navbar links -->
      <div class="collapse navbar-collapse" [ngClass]="{ 'show': isMenuOpen }" id="navbarNav">
        <ul class="navbar-nav d-flex align-items-center mx-auto gap-4">
          <li class="nav-item me-5"><a class="nav-link" href="/">Inicio</a></li>
          <li class="nav-item me-5"><a class="nav-link" href="como-funciona">Cómo Funciona</a></li>
          <li class="nav-item me-5"><a class="nav-link" href="contacto">Contacto</a></li>

          <ng-container *ngIf="isLoggedIn">
            <li class="nav-item me-5"><a class="nav-link" href="/client/perfil">Perfil</a></li>
            <li class="nav-item me-5"><a class="nav-link" href="/client/mis-vuelos">Mis Vuelos</a></li>
            <li class="nav-item me-2"><button class="btn border border-danger" (click)="logout()">Cerrar sesión</button></li>
          </ng-container>
        </ul>

        <ng-container *ngIf="!isLoggedIn">
          <a class="btn border border-primary ms-auto" href="login">Iniciar Sesión</a>
        </ng-container>
      </div>
    </div>
  </nav>
</header>
