.container {
    background: linear-gradient(to bottom, #4475C4, white);
    width: 90%;
    height: 80vh;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    padding: 20px;
}
h1{
    margin-top: 200px;
}
h2{
    margin-top: 20px;
    color:#4475C4;
    font-weight: 300;
}
h3{
    margin-top: 20px;
    color:gray;
    font-weight: 200;
}
.btn{
    margin-top: 30px;
    background-color: #4475C4;
    border-color: #4475C4;
    width:150px;
    height:50px;
    font-weight: 100;
}