<div class="register-container">
  <form (submit)="register(); $event.preventDefault()">
    <h2>Crear cuenta</h2>
    <input type="text" placeholder="Nombre de usuario" [(ngModel)]="username" name="username" required/>    <input type="email" placeholder="Email" [(ngModel)]="email" name="email" required />
    <input type="password" placeholder="Contraseña" [(ngModel)]="password" name="password" required />
    <input type="password" placeholder="Confirmar contraseña" [(ngModel)]="confirmPassword" name="confirmPassword" required />

    <button type="submit">Registrarse</button>

    <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
  </form>
</div>
