<footer class="footer">
    <div class="footer-content">
      <div class="footer-left">
        <p>&copy; 2025 TICKETY. All rights reserved.</p>
      </div>
      <div class="footer-right">
        <ul class="social-icons">
          <li><a href="#" class="facebook" target="_blank"><i class="bi bi-facebook"></i></a></li>
          <li><a href="#" class="twitter" target="_blank"><i class="bi bi-twitter"></i></a></li>
          <li><a href="#" class="instagram" target="_blank"><i class="bi bi-instagram"></i></a></li>
          <li><a href="#" class="linkedin" target="_blank"><i class="bi bi-linkedin"></i></a></li>
        </ul>
      </div>
    </div>
  </footer>
  