/* styles.scss */

$primary: #4475C4;

/* Import Bootstrap SCSS */
@import 'bootstrap/scss/bootstrap';

/* GLOBAL styles */
html, body {
  height: 100%;
  margin: 0;
  
  font-family: "Tuffy", sans-serif;
}
