
.navbar{
    font-family: "Tuffy", sans-serif;
    height:auto;
}

.btn{
    color:black;
    font-family: "Tuffy", sans-serif;
    
}
.navbar-brand{
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: 3px;
    color:gray;
    font-family: "Tuffy", sans-serif;
    
    
   
}
a{
 font-family: "Tuffy", sans-serif;   
}